<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.carservice">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <application>
            <meta-data
                android:name="com.alibaba.apigateway.appKey"
                android:value="23561421" />
            <meta-data
                android:name="com.alibaba.apigateway.appSecret"
                android:value="6594ef2e48bbe45dbe0f6d57483ea459" />
        </application>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".news.NewContentActivity" />
        <activity
            android:name=".news.NewsContentActivity"
            android:label="@string/title_activity_news_content"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>